<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter sentiment analysis</title>
    <!-- <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/react/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/recharts/umd/Recharts.min.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-2.1.0.min.js"></script>
    <!-- Load our React component. -->
    <!-- <script src="../static/like_button.js" defer async></script> -->

</head>

<body>
    <h1>Sentiments Page</h1>
    <div id="myDiv"></div>
</body>
<script defer>

    var data = [
        {
            x: ['giraffes', 'orangutans', 'monkeys'],
            y: [20, 14, 23],
            type: 'bar'
        }
    ];

    Plotly.newPlot('myDiv', data);
</script>

</html>